<launch>
	<include file="$(find lms1xx)/launch/LMS1xx.launch" />

	<include file="$(find kuuve_parking)/launch/include/usb_cam.launch"/>
	<include file="$(find kuuve_parking)/launch/include/kuuve_parking.launch"/>
	<include file="$(find kuuve_parking)/launch/include/obstacle_extractor.launch"/>
</launch>
