<launch>
	<node pkg="lane_detector" type="lane_detector" name="lane_detector">
		<param name="resize_width" value="480" />
		<param name="resize_height" value="270" />
		<param name="bin_thres" value="215" />	
		<param name="detect_y_offset" value="30" />

		<!-- rc car -->
		<!--param name="steer_max_angle" value="45" /-->
		<!--param name="throttle" value="1515" /-->
		<!--remap from="/crosswalk_stop/write" to="write" /-->

		<!-- scale platform -->
		<param name="steer_max_angle" value="27" />
		<param name="throttle" value="2" />
		<remap from="/crosswalk_stop/ackermann" to="ackermann" />

		<!-- control_value *= control_factor / 100 -->
		<param name="control_factor" value="100" />
	</node>
</launch>
