<launch>
	<node pkg="lane_detector" type="lane_detector" name="lane_detector">
		<param name="resize_width" value="480" />
		<param name="resize_height" value="270" />

		<!-- 0 is a top of raw_img and 100 is a bottom of raw_img -->
		<param name="roi_top_location" value="30" />
		<param name="roi_bottom_location" value="80" />

		<!-- 1. Binary threshold -->
		<param name="gray_bin_thres" value="170" />
		<param name="hsv_s_bin_thres" value="110" />

		<!-- 2. Detect line -->
		<param name="detect_line_count" value="1" />
		<param name="detect_y_offset_1" value="40" />
		<!-- param name="detect_y_offset_2" value="" /-->

		<param name="continuous_detect_pixel" value="30" />

		<!-- 3. Detect offset -->
		<param name="left_detect_offset" value="0" />
		<param name="right_detect_offset" value="0" />

		<!-- 4. Control hardware -->
		<!-- rc car -->
		<!--param name="steer_max_angle" value="45" /-->
		<!--param name="throttle" value="1515" /-->
		<!--remap from="/crosswalk_stop/write" to="write" /-->

		<!-- scale platform -->
		<param name="steer_max_angle" value="26" />
		<param name="throttle" value="8" />
		<remap from="/lane_detector/ackermann" to="ackermann" />

		<!-- 5. Control factor -->
		<!-- yaw_error *= yaw_factor / 100 -->
		<param name="yaw_factor" value="40" />

		<!-- lateral_error *= lateral_factor/ 100 -->
		<param name="lateral_factor" value="20" />

		<!-- pixel value -->
		<param name="left_steer_factor" value="3" />
		<param name="veh_center_point_x_offset" value="8" />
	</node>
</launch>
