<launch>
	<node name="center_usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="video_device" value="/dev/video1" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="center_usb_cam" />
		<param name="io_method" value="mmap"/>
		<param name="framerate" value="30"/>
		<remap from="/center_usb_cam/image_raw" to="center_image_raw" />
	</node>
</launch>
