<launch>
	<node pkg="crosswalk_stop" type="crosswalk_stop" name="crosswalk_stop">
		<param name="resize_width" value="480" />
		<param name="resize_height" value="270" />

		<!-- 0 is a top of raw_img and 100 is a bottom of raw_img -->
		<param name="roi_top_location" value="50" />
		<param name="roi_bottom_location" value="100" />

		<!-- 1. Binary threshold -->
		<param name="gray_bin_thres" value="150" />
		<param name="hsv_s_bin_thres" value="150" />

		<!-- 2. Detect line -->
		<param name="detect_line_count" value="1" />
		<param name="detect_y_offset_1" value="25" />
		<!-- param name="detect_y_offset_2" value="" /-->

		<param name="continuous_detect_pixel" value="30" />

		<!-- 3. Detect offset -->
		<param name="left_detect_offset" value="0" />
		<param name="right_detect_offset" value="0" />


		<!-- 4. Control hardware -->
		<!-- rc car -->
		<!--param name="steer_max_angle" value="45" /-->
		<!--param name="throttle" value="1515" /-->
		<!--remap from="/crosswalk_stop/write" to="write" /-->

		<!-- scale platform -->
		<param name="steer_max_angle" value="26" />
		<param name="throttle" value="7" />
		<remap from="/crosswalk_stop/ackermann" to="ackermann" />

		<!-- 5. Control factor -->
		<!-- yaw_value *= yaw_factor / 100 -->
		<param name="yaw_factor" value="40" />

		<!-- lateral_value *= lateral_factor / 100 -->
		<param name="lateral_factor" value="80" />

		<!-- 6. Crosswalk stop -->
		<!-- (stop_distance = 0) == center of frame, top of binary -->
		<!-- (stop_distance = 100) == bottom of frame, binary -->
		<!-- stop_distance cannot be set by rosparam command -->
		<param name="stop_distance" value="50" />

		<!-- time(second) for stopping when crosswalk is detected -->
		<param name="stop_time" value="3" />
	</node>
</launch>
