<launch>
	<node pkg="kuuve_parking" type="kuuve_parking" name="kuuve_parking">
		<param name="resize_width" value="1260" />
		<param name="resize_height" value="540" />

		<param name="steer_max_angle" value="26" />
		<param name="gray_bin_thres" value="200" />
		<param name="hsv_s_bin_thres" value="150" />

		<!-- pixel value -->
		<!-- y_offset = front point y offset (P2) -->
		<param name="detect_y_offset" value="250" />
		<param name="line_length" value="25" />

		<param name="reverse_detect_offset" value="200" />

		<param name="forward_stop_x_offset" value="6" />
		<param name="forward_stop_y_offset" value="20" />
		<param name="reverse_stop_x_offset" value="-40" />
		<param name="reverse_stop_y_offset" value="900" />

		<!-- factor 0 ~ 100 -->
		<param name="yaw_factor" value="100" />
		<param name="lateral_factor" value="0" />

		<param name="throttle" value="3" />

		<!-- param name="go_back_stop_time" value="200" /-->
		<param name="turning_angle_thres" value="50" />

		<!-- 0 is a top and 100 is a bottom -->
		<param name="roi_top_location" value="20" />
		<param name="roi_bottom_location" value="100" />

		<remap from="kuuve_parking/ackermann" to="ackermann" />
	</node>
</launch>
