<launch>
	<node pkg="kuuve_parking" type="kuuve_parking" name="kuuve_parking">
		<param name="resize_width" value="720" />
		<param name="resize_height" value="250" />

		<param name="steer_max_angle" value="26" />
		<param name="gray_bin_thres" value="180" />
		<param name="hsv_s_bin_thres" value="180" />

		<!-- factor 0 ~ 100 -->
		<param name="yaw_factor" value="80" />
		<param name="lateral_factor" value="80" />

		<param name="throttle" value="7" />

		<param name="go_back_stop_time" value="200" />

		<!-- 0 is a top and 100 is a bottom -->
		<param name="roi_top_location" value="10" />
		<param name="roi_bottom_location" value="100" />
	</node>
</launch>
